<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <% if (admineerore.length>0) { %>
    <div class="alert alert-danger text-center vali flash-message">
      <%= admineerore %>
    </div>

    <% } %> <% if (erooore.length>0) { %>
    <div class="alert alert-danger text-center vali flash-message">
      <%= erooore %> <% } %>
    </div>

    <section class="form-02-main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="_lk_de">
              <form class="form-03-main" action="/Admine-logine" method="post">
                <div class="logo">
                  <img src="assets/images/user.png" />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    name="email"
                    class="form-control _ge_de_ol"
                    type="text"
                    placeholder="Enter Email"
                    required=""
                    aria-required="true"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    name="password"
                    class="form-control _ge_de_ol"
                    type="text"
                    placeholder="Enter Password"
                    required=""
                    aria-required="true"
                  />
                </div>

                <div class="form-group">
                  <button class="_btn_04 btn btn-primary">connexion</button>
                </div>
                <div class="form-group pt-0">
                  <div class="_social_04">
                    <ol>
                      <li><i class="fa fa-facebook"></i></li>
                      <li><i class="fa fa-twitter"></i></li>
                      <li><i class="fa fa-google-plus"></i></li>
                      <li><i class="fa fa-instagram"></i></li>
                      <li><i class="fa fa-linkedin"></i></li>
                    </ol>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="flache.js"></script>
  </body>
</html>
