<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (error2.length>0) { %>
    <div class="alert alert-danger text-center vali flash-message"><%= error2 %></div>
    <% } %> <% if (error.length>0) { %>
    <div class="alert alert-danger text-center vali flash-message"><%= error %> <% } %></div>
    <section class="h-100 gradient-form" style="background-color: #eee">
      <div class="container py-5 h-100">
        <div
          class="row d-flex justify-content-center align-items-center"
          id="forme"
        >
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
                    <div class="text-center">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                        style="width: 185px"
                        alt="logo"
                      />
                      <h4 class="mt-1 mb-5 pb-1">Hotel</h4>
                    </div>

                    <form action="/signup" method="post">
                      <div class="form-outline mb-0">
                        <label class="form-label" for="form2Example11"
                          >Prenom</label
                        >

                        <input name="prenom" class="form-control" required />
                      </div>
                      <div class="form-outline mb-0">
                        <label class="form-label" for="form2Example11">
                          Nom</label
                        >

                        <input name="Nom" class="form-control" required />
                      </div>
                      <div class="form-outline mb-0">
                        <label class="form-label" for="form2Example11"
                          >Emaile</label
                        >

                        <input name="Emaile" class="form-control" required />
                      </div>

                      <div class="form-outline mb-2">
                        <label class="form-label" for="form2Example22"
                          >Mot De Passe</label
                        >

                        <input
                          name="passworde"
                          type="password"
                          class="form-control"
                          required
                        />
                      </div>

                      <div class="text-center pt-1 mb-2 pb-1">
                        <button
                          class="btn btn-primary btn-block fa-lg gradient-custom-2"
                        >
                          S`inscrire
                        </button>
                      </div>

                      <div class="container text-center">
                        <a
                          class="btn btn-sm btn-outline-secondary"
                          href="/logine"
                          >connecter</a
                        >
                      </div>
                    </form>
                  </div>
                </div>
                <div
                  class="col-lg-6 d-flex align-items-center gradient-custom-2"
                >
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h3 class="mb-4">Créer un compte</h3>
                    <p class="small mb-0" style="
                    font-size: 17px;
                    font-weight: 400; " >
                      Pour accéder à nos services exclusifs, veuillez créer un compte en
                       fournissant vos informations personnelles ci-dessous. Si vous avez 
                       déjà un compte, vous pouvez vous <a href="/logine"> connecter ici</a> .
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="bootstrap.min.js"></script>
       <script src="flache.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </body>
</html>
