body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  header {
    background-image: url(/img/manuel-moreno-DGa0LQ0yDPc-unsplash.jpg) ;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  h1, h2 {
    color: #0074e7;
  }
  
  .service {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .service img {
    width: 50px;;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .service h2 {
    margin-top: 0;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 17px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 35px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .reviews, .contact {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .reviews textarea, .contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .reviews button, .contact button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reviews button:hover, .contact button:hover {
    background-color: #218838;
  }
  